In [ ]:
import pandas as pd

In [2]:
df=pd.read_csv("StudentPerformanceFactors.csv")

In [3]:
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [89]:
len(df["Hours_Studied"])

41

In [108]:
df.count()

Hours_Studied                 41
Attendance                    41
Parental_Involvement          41
Access_to_Resources           41
Extracurricular_Activities    41
Sleep_Hours                   41
Previous_Scores               41
Motivation_Level              41
Internet_Access               41
Tutoring_Sessions             41
Family_Income                 41
Teacher_Quality               41
School_Type                   41
Peer_Influence                41
Physical_Activity             41
Learning_Disabilities         41
Parental_Education_Level      40
Distance_from_Home            41
Gender                        41
Exam_Score                    41
dtype: int64

In [154]:
#selection
df_new=df[['Physical_Activity','Gender','Hours_Studied','Distance_from_Home','Exam_Score']].loc[1:6]
df_new

   Physical_Activity  Gender  Hours_Studied Distance_from_Home  Exam_Score
1                  4  Female             19           Moderate          61
2                  4    Male             24               Near          74
3                  4    Male             29           Moderate          71

In [114]:
#sorting
df_new.columns=['Hours_activity','Gender','Study_Hour','Parent_involvement','Exam_Score']
Topper=df_new.sort_values('Exam_Score',ascending=False).head(10)
Topper

      Hours_activity  Gender  Study_Hour Parent_involvement  Exam_Score
113                2  Female          35               Near          79
209                1  Female          43               Near          78
1615               3    Male          39           Moderate          77
2035               3    Male          37               Near          76
2                  4    Male          24               Near          74
118                5  Female          27               Near          73
478                3    Male          38               Near          73
3                  4    Male          29           Moderate          71
2895               2  Female          44           Moderate          71
12                 4    Male          21               Near          70

In [115]:
Topper["Exam_Score"].head(1)

113    79
Name: Exam_Score, dtype: int64

In [136]:
#filtering
student_record=df[(df["School_Type"]=='Public')& (df["Peer_Influence"]=='Positive')& (df["Learning_Disabilities"]=='No')&
                  (df["Hours_Studied"]>20)& (df["Attendance"]>80)& (df["Previous_Scores"]>60)]
student_record

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
12,21,83,Medium,Medium,Yes,8,97,Low,Yes,2,Medium,Medium,Public,Positive,4,No,High School,Near,Male,70
118,27,97,Low,High,Yes,8,81,Medium,Yes,0,High,Medium,Public,Positive,5,No,High School,Near,Female,73
209,43,86,High,Medium,Yes,7,97,Medium,Yes,2,Medium,High,Public,Positive,1,No,High School,Near,Female,78

In [121]:
female_record=student_record[['Hours_Studied','Gender','Parental_Involvement','Sleep_Hours']]
female_record

     Hours_Studied  Gender Parental_Involvement  Sleep_Hours
0               23    Male                  Low            7
12              21    Male               Medium            8
118             27  Female                  Low            8
209             43  Female                 High            7

In [122]:
female_record.max()

Hours_Studied               43
Gender                    Male
Parental_Involvement    Medium
Sleep_Hours                  8
dtype: object

In [123]:
#mathematical computation
female_record["Hours_Studied"].sum()

np.int64(114)

In [126]:
#slicing
df_list=df_new.values.tolist()
df_list

[[3, 'Male', 23, 'Near', 67],
 [4, 'Female', 19, 'Moderate', 61],
 [4, 'Male', 24, 'Near', 74],
 [4, 'Male', 29, 'Moderate', 71],
 [2, 'Male', 25, 'Far', 66],
 [1, 'Male', 17, 'Near', 69],
 [4, 'Male', 21, 'Near', 70],
 [3, 'Male', 9, 'Near', 66],
 [4, 'Male', 10, 'Near', 65],
 [3, 'Male', 14, 'Near', 60],
 [3, 'Female', 22, 'Near', 65],
 [2, 'Female', 15, 'Moderate', 67],
 [4, 'Male', 12, 'Near', 66],
 [2, 'Female', 20, 'Moderate', 66],
 [3, 'Male', 11, 'Moderate', 66],
 [2, 'Female', 13, 'Moderate', 65],
 [3, 'Female', 16, 'Moderate', 66],
 [2, 'Male', 18, 'Near', 64],
 [3, 'Male', 31, 'Near', 69],
 [5, 'Female', 8, 'Near', 67],
 [3, 'Female', 26, 'Moderate', 64],
 [2, 'Male', 28, 'Near', 68],
 [4, 'Male', 4, 'Moderate', 69],
 [2, 'Female', 35, 'Near', 79],
 [5, 'Female', 27, 'Near', 73],
 [4, 'Male', 33, 'Near', 69],
 [2, 'Male', 36, 'Far', 69],
 [1, 'Female', 43, 'Near', 78],
 [3, 'Male', 34, 'Near', 69],
 [3, 'Female', 1, 'Near', 61],
 [1, 'Male', 30, 'Near', 69],
 [2, 'Male', 7, 'Far', 62],
 [2, 'Male', 32, 'Near', 68],
 [2, 'Female', 6, 'Near', 64],
 [3, 'Male', 38, 'Near', 73],
 [3, 'Male', 5, 'Moderate', 68],
 [3, 'Male', 3, 'Near', 62],
 [4, 'Male', 2, 'Near', 62],
 [3, 'Male', 39, 'Moderate', 77],
 [3, 'Male', 37, 'Near', 76],
 [2, 'Female', 44, 'Moderate', 71]]

In [131]:
df_list[0:10] #1st ten

[[3, 'Male', 23, 'Near', 67],
 [4, 'Female', 19, 'Moderate', 61],
 [4, 'Male', 24, 'Near', 74],
 [4, 'Male', 29, 'Moderate', 71],
 [2, 'Male', 25, 'Far', 66],
 [1, 'Male', 17, 'Near', 69],
 [4, 'Male', 21, 'Near', 70],
 [3, 'Male', 9, 'Near', 66],
 [4, 'Male', 10, 'Near', 65],
 [3, 'Male', 14, 'Near', 60]]

In [133]:
df_list[-1] #last data

[2, 'Female', 44, 'Moderate', 71]

In [146]:
df.loc[[0,2],["Hours_Studied","Peer_Influence"]]

   Hours_Studied Peer_Influence
0             23       Positive
2             24        Neutral

In [143]:
df.iloc[[0,3],[3,4]]

  Access_to_Resources Extracurricular_Activities
0                High                         No
3              Medium                        Yes

In [184]:
#add date
df=df.copy()
df.loc[ :,'Date']=pd.date_range('2024-06-02',periods=len(df))
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,...,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score,Date
0,23,84,Low,High,No,7,73,Low,Yes,0,...,Medium,Public,Positive,3,No,High School,Near,Male,67,2024-06-02
1,19,64,Low,Medium,No,8,59,Low,Yes,2,...,Medium,Public,Negative,4,No,College,Moderate,Female,61,2024-06-03
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,...,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74,2024-06-04
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,...,Medium,Public,Negative,4,No,High School,Moderate,Male,71,2024-06-05
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,...,High,Public,Negative,2,No,High School,Far,Male,66,2024-06-06
8,17,94,Medium,High,No,6,80,High,Yes,0,...,Low,Private,Neutral,1,No,College,Near,Male,69,2024-06-07
12,21,83,Medium,Medium,Yes,8,97,Low,Yes,2,...,Medium,Public,Positive,4,No,High School,Near,Male,70,2024-06-08
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,...,Medium,Private,Positive,3,No,Postgraduate,Near,Male,66,2024-06-09
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,...,Medium,Private,Neutral,4,No,Postgraduate,Near,Male,65,2024-06-10
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,...,Medium,Private,Positive,3,No,College,Near,Male,60,2024-06-11
17,22,70,Low,Medium,Yes,6,82,Medium,Yes,1,...,High,Public,Neutral,3,No,High School,Near,Female,65,2024-06-12
18,15,80,Medium,Medium,Yes,9,91,Low,Yes,3,...,Medium,Public,Positive,2,No,College,Moderate,Female,67,2024-06-13
19,12,75,Medium,High,Yes,7,58,Medium,Yes,3,...,Medium,Private,Positive,4,No,College,Near,Male,66,2024-06-14
22,20,74,Medium,High,No,8,89,Low,Yes,1,...,Medium,Public,Negative,2,No,College,Moderate,Female,66,2024-06-15
23,11,78,High,Medium,Yes,8,100,High,Yes,1,...,Medium,Public,Neutral,3,No,High School,Moderate,Male,66,2024-06-16
26,13,91,Low,Medium,No,6,90,Medium,Yes,1,...,Medium,Public,Negative,2,Yes,High School,Moderate,Female,65,2024-06-17
28,16,90,Medium,Medium,No,4,58,Medium,Yes,1,...,Medium,Public,Neutral,3,No,High School,Moderate,Female,66,2024-06-18
29,18,66,High,High,No,4,51,Low,Yes,2,...,Medium,Private,Neutral,2,No,College,Near,Male,64,2024-06-19
31,31,70,Medium,High,Yes,7,66,Medium,Yes,1,...,Medium,Public,Negative,3,No,College,Near,Male,69,2024-06-20
37,8,99,Medium,Medium,No,9,54,Low,Yes,2,...,Medium,Public,Neutral,5,No,Postgraduate,Near,Female,67,2024-06-21
47,26,61,Medium,Low,Yes,6,70,Medium,Yes,2,...,Medium,Public,Positive,3,No,High School,Moderate,Female,64,2024-06-22
65,28,66,Medium,High,Yes,8,97,Medium,Yes,0,...,Medium,Public,Neutral,2,No,High School,Near,Male,68,2024-06-23
74,4,100,High,High,Yes,8,60,High,Yes,0,...,High,Private,Positive,4,No,College,Moderate,Male,69,2024-06-24
113,35,99,High,High,Yes,7,85,Low,Yes,2,...,High,Private,Neutral,2,No,Postgraduate,Near,Female,79,2024-06-25
118,27,97,Low,High,Yes,8,81,Medium,Yes,0,...,Medium,Public,Positive,5,No,High School,Near,Female,73,2024-06-26
125,33,70,Medium,Medium,Yes,6,82,Low,Yes,1,...,High,Public,Neutral,4,No,College,Near,Male,69,2024-06-27
179,36,71,Medium,Medium,Yes,6,56,Medium,Yes,2,...,Medium,Public,Positive,2,No,High School,Far,Male,69,2024-06-28
209,43,86,High,Medium,Yes,7,97,Medium,Yes,2,...,High,Public,Positive,1,No,High School,Near,Female,78,2024-06-29
220,34,77,Medium,Low,Yes,7,80,Low,Yes,0,...,Medium,Public,Positive,3,No,High School,Near,Male,69,2024-06-30
262,1,69,High,Medium,Yes,6,97,Medium,Yes,1,...,Medium,Public,Positive,3,No,High School,Near,Female,61,2024-07-01
266,30,81,Medium,Low,Yes,5,67,Medium,Yes,1,...,High,Public,Negative,1,No,High School,Near,Male,69,2024-07-02
382,7,82,High,High,Yes,8,56,Medium,Yes,0,...,Medium,Private,Negative,2,No,High School,Far,Male,62,2024-07-03
420,32,68,Medium,Low,No,8,97,High,Yes,1,...,Medium,Public,Positive,2,No,High School,Near,Male,68,2024-07-04
471,6,93,Medium,Medium,No,7,52,High,Yes,0,...,Medium,Public,Neutral,2,No,College,Near,Female,64,2024-07-05
478,38,86,Low,High,Yes,7,79,Low,Yes,3,...,Medium,Public,Negative,3,No,High School,Near,Male,73,2024-07-06
544,5,84,Medium,Medium,Yes,8,93,High,Yes,4,...,High,Public,Positive,3,No,College,Moderate,Male,68,2024-07-07
1061,3,85,Low,High,No,8,73,Low,Yes,2,...,Medium,Private,Neutral,3,No,High School,Near,Male,62,2024-07-08
1591,2,84,Low,High,No,8,54,Low,Yes,3,...,Low,Public,Positive,4,No,NaN,Near,Male,62,2024-07-09
1615,39,95,Medium,High,Yes,9,54,High,Yes,2,...,Medium,Private,Positive,3,No,High School,Moderate,Male,77,2024-07-10
2035,37,94,High,Medium,Yes,8,52,High,Yes,1,...,Medium,Private,Positive,3,No,Postgraduate,Near,Male,76,2024-07-11
2895,44,68,High,Low,No,9,75,Low,Yes,3,...,High,Private,Negative,2,No,High School,Moderate,Female,71,2024-07-12

In [177]:

df_group = df.groupby([df['Date'].dt.day, 'Attendance','Sleep_Hours'])['Hours_Studied'].sum().reset_index()
print(df_group)

    Date  Attendance  Sleep_Hours  Hours_Studied
0      1          69            6              1
1      2          81            5             30
2      2          84            7             23
3      3          64            8             19
4      3          82            8              7
5      4          68            8             32
6      4          98            7             24
7      5          89            8             29
8      5          93            7              6
9      6          78            6             25
10     6          86            7             38
11     7          84            8              5
12     7          94            6             17
13     8          83            8             21
14     8          85            8              3
15     9          82            8              9
16     9          84            8              2
17    10          78            8             10
18    10          95            9             39
19    11          60           10             14
20    11          94            8             37
21    12          68            9             44
22    12          70            6             22
23    13          80            9             15
24    14          75            7             12
25    15          74            8             20
26    16          78            8             11
27    17          91            6             13
28    18          90            4             16
29    19          66            4             18
30    20          70            7             31
31    21          99            9              8
32    22          61            6             26
33    23          66            8             28
34    24         100            8              4
35    25          99            7             35
36    26          97            8             27
37    27          70            6             33
38    28          71            6             36
39    29          86            7             43
40    30          77            7             34

In [181]:
df_group = df.groupby([df['Date'].dt.day])['Hours_Studied'].sum().reset_index()
df_group

    Date  Hours_Studied
0      1              1
1      2             53
2      3             26
3      4             56
4      5             35
5      6             63
6      7             22
7      8             24
8      9             11
9     10             49
10    11             51
11    12             66
12    13             15
13    14             12
14    15             20
15    16             11
16    17             13
17    18             16
18    19             18
19    20             31
20    21              8
21    22             26
22    23             28
23    24              4
24    25             35
25    26             27
26    27             33
27    28             36
28    29             43
29    30             34